<div class="grid grid-cols-2 gap-4">
    <div class="relative">
        <a href="#">
            <div class="px-4 py-12 absolute text-center max-w-screen-xl w-full">
                <h1 class="px-4 py-8 text-4xl font-bold leading-none tracking-tight text-gray-700">
                    PURE <mark class="px-2 text-white bg-green-700 rounded">NATURE</mark>
                </h1>
            </div>
            <img class="bg-cover bg-no-repeat bg-center h-auto max-w-screen-xl w-full"
                src="https://images.pexels.com/photos/7125540/pexels-photo-7125540.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="">
        </a>
    </div>

    <div class="relative">
        <a href="#">
            <div class="px-4 py-12 absolute text-center max-w-screen-xl w-full">
                <h1 class="px-4 py-8 text-4xl font-bold leading-none tracking-tight text-gray-700">
                    PRECISION <mark class="px-2 text-white bg-red-700 rounded">SELECTION</mark>
                </h1>
            </div>
            <img class="bg-cover bg-no-repeat bg-center h-auto max-w-screen-xl w-full"
                src="https://images.pexels.com/photos/7125616/pexels-photo-7125616.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="">
        </a>
    </div>

    <div class="relative">
        <a href="#">
            <div class="px-4 py-12 absolute text-center max-w-screen-xl w-full">
                <h1 class="px-4 py-8 text-4xl font-bold leading-none tracking-tight text-gray-700">
                    BEST <mark class="px-2 text-white bg-orange-700 rounded">QUALITY</mark>
                </h1>
            </div>
            <img class="bg-cover bg-no-repeat bg-center h-auto max-w-screen-xl w-full"
                src="https://images.pexels.com/photos/4816504/pexels-photo-4816504.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="">
        </a>
    </div>

    <div class="relative">
        <a href="#">
            <div class="px-4 py-12 absolute text-center max-w-screen-xl w-full">
                <h1 class="px-4 py-8 text-4xl font-bold leading-none tracking-tight text-gray-700">
                    FOOD <mark class="px-2 text-white bg-blue-700 rounded">GRADE</mark>
                </h1>
            </div>
            <img class="bg-cover bg-no-repeat bg-center h-auto max-w-screen-xl w-full"
                src="https://images.pexels.com/photos/4820847/pexels-photo-4820847.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="">
        </a>
    </div>
</div>