<div class="grid grid-cols-2 gap-4">
    <div class="">
        <a href="#" class="relative">
            <img class="bg-cover bg-no-repeat bg-center h-auto max-w-screen-xl w-full"
                src="https://sdxl-h-p-8.stablediffusionweb.com/file=/tmp/gradio/b2c0755d0b4c7d2340f716d4bcd2c7bd0b56506f/image.png "
                alt="">
            <div class="absolute">
                <p class=" text-center bottom-6 text-lg text-white">
                    Do you want to get notified when a new component is added to Flowbite?
                </p>
            </div>
        </a>

    </div>

    <div>
        <img class="bg-cover bg-no-repeat bg-center h-auto max-w-screen-xl w-full"
            src="https://sdxl-h-p-8.stablediffusionweb.com/file=/tmp/gradio/b93ecc3a8c8779f3e1506ae8891a8b8797d28114/image.png"
            alt="">
    </div>
    <div>
        <img class="bg-cover bg-no-repeat bg-center h-auto max-w-screen-xl w-full"
            src="https://sdxl-h-p-3.stablediffusionweb.com/file=/tmp/gradio/a77044f943b9ac65798dd494fc335a96295bd8e4/image.png"
            alt="">
    </div>
    <div>
        <img class="bg-cover bg-no-repeat bg-center h-auto max-w-screen-xl w-full"
            src="https://sdxl-h-p-3.stablediffusionweb.com/file=/tmp/gradio/21abddd697b0ea40ee35aab97664c74991de1a46/image.png"
            alt="">
    </div>
</div>